%table.table.table-bordered.table-sm.text-center
  %tbody
    %tr
      %td
        .text-muted Value
        %h6= custom.value
      %td
        .text-muted Growth
        %h6= custom.growth
      %td
        .text-muted Momentum
        %h6= custom.momentum
    %tr
      %td.text-center{colspan: "4"}
        .text-muted VGM
        %h6= custom.vgm
