.row
  .col-lg-4.col-md-6.col-sm-12.mb-3
    #watch-lists-dropdown-container
      = render partial: "watch_lists/dropdown", locals: { watch_lists: watch_lists }

  .col-lg-4

  .col-lg-4.col-md-6.col-sm-12.mb-3.text-md-right
