%br
.section-title
  .title Company Executive

- if executives.any?
  .row.small
    - executives.groups.each do |group|
      .col
        - group.each do |title, people|
          %dt= title
          %dd
            - people.each do |person|
              %div= person.person_name_with_age
- else
  N/A
