.card
  .card-header Growth
  .card-body
    %div#growth-container{style: 'height:300px; width:100%'}

:javascript
  $(document).ready(function() {
      Growth.initChart(JSON.parse('#{raw(growth.chart_data.to_json)}'));
  });
