.card
  .card-header News
  .card-body
    - if news.any?
      .row
        - news.grouped.each do |group|
          .col-lg.col-md-12
            - group.each do |news_article|
              .media.mb-3
                .media-body
                  %div= link_to news_article.headline, url_for(news_article.url), target: '_blank'
                  %small.text-muted
                    = news_article.meta_info
