.card
  .card-header Recommendation Trends
  .card-body
    %div#recommendation-trends-container{style: 'height:300px; width:100%'}

:javascript
  $(document).ready(function() {
      RecommendationTrends.initChart(JSON.parse('#{raw(recommendation_trends.chart_data)}'));
  });