-#.section-title
-#  .title Profile
-#.row
-#  .col
-#    %table.table.table-hover.table-sm
-#      %tbody
-#        %tr
-#          %td
-#            %b Exchange
-#          %td.text-right= company.exchange.name
-#        %tr
-#          %td
-#            %b Issuer Type
-#          %td.text-right= company.issuer_type.name_with_code
-#  .col
-#    %table.table.table-hover.table-sm
-#      %tbody
-#        %tr
-#          %td
-#            %b Sector
-#          %td.text-right= company.sector
-#        %tr
-#          %td
-#            %b Industry
-#          %td.text-right= company.industry
-#

%table.table.table-hover.table-sm
  %tbody
    %tr
      %td
        %b Issuer
      %td.text-right= company.issuer_type.name
    %tr
      %td
        %b Sector
      %td.text-right= company.sector
    %tr
      %td
        %b Industry
      %td.text-right= company.industry
