%input#search-field.form-control.form-control{placeholder: "Symbol/company - Ex: AAPL/Apple",
                                              autocomplete: "off",
                                              type: "text",
                                              data: {"watch-list-path": stocks_information_path(symbol: "")}}

:javascript
  Search.init().render();
