%section#hero
  .container-fluid
    .text-center.content-justify-center.mt-5
      %h1.pb-2 Search Stocks by Name, Ticker
      %h5.pb-4 Search for more than 3000+ stock symbols or names

    .container.mb-5.w-25
      = render partial: "stocks/search"

%section
  = render_async market_movers_index_path
