%section#hero
  .container
    .text-center.content-justify-center
      %h1.pb-2 Search Stocks by Name, Ticker
      %h5.pb-4 Search for more than 3000+ stock symbols or names


%section
  %h1.text-center.pb-4
    Features

  .features
    .container
      / Row
      .row
        / Column
        .col-md-4.wrap-service1-box
          .card.border-0.card-shadow.mb-4
            .card-body.text-center
              .my-3
                %i.fas.fa-dollar-sign.fa-5x
              %h6 Retargeting Market
              %p.mt-3 You can relay on our amazing features list and also our customer services will be great experience.
        / Column
        .col-md-4.wrap-service1-box
          .card.border-0.card-shadow.mb-4
            .card-body.text-center
              .my-3
                %i.fas.fa-chart-line.fa-5x
              %h6 Fruitful Results
              %p.mt-3 You can relay on our amazing features list and also our customer services will be great experience.
        / Column
        .col-md-4.wrap-service1-box
          .card.border-0.card-shadow.mb-4
            .card-body.text-center
              .my-3
                %i.fas.fa-info.fa-5x
              %h6 Instant Solutions
              %p.mt-3 You can relay on our amazing features list and also our customer services will be great experience.
