.container
  .row.mt-5
    .col-md-8.col-sm-12
      .card
        .card-body
          .row
            .col-10
              %span#company-name.font-weight-bold= @stock.name
              .small.text-uppercase.mt-n1
                %span NASDAQ: F
            .col-2.justify-content-center.align-self-center
              %button.float-right.btn.btn-outline-info.btn-sm{name: "button", type: "button"}
                %i.fas.fa-star
          = render partial: 'stocks/information_v2/quote_information', locals: {quote: @stock.quote}
          = render_async stocks_time_series_path(symbol: @company.symbol) do
            = render partial: "layouts/loading_card", locals: { header: "Time Series" }
      .card.mt-2
        .card-header Stats
        .card-body
          .row.small
            .col-sm-6
              %table.table.table-sm.table-hover.table-striped
                %tbody
                  %tr
                    %td.font-weight-bold Open
                    %td.text-right 200
                  %tr
                    %td.font-weight-bold Pre. Close
                    %td.text-right 197
                  %tr
                    %td.font-weight-bold Day Range
                    %td.text-right 200 - 400
                  %tr
                    %td.font-weight-bold Volume
                    %td.text-right 200
                  %tr
                    %td.font-weight-bold Avg Volumn
                    %td.text-right 200
                  %tr
                    %td.font-weight-bold 52 Wk Range
                    %td.text-right 200 - 500
            .col-sm-6
              %table.table.table-sm.table-hover.table-striped
                %tbody
                  %tr
                    %td.font-weight-bold Market Cap
                    %td.text-right 200
                  %tr
                    %td.font-weight-bold Annual Dividend
                    %td.text-right 197
                  %tr
                    %td.font-weight-bold Shares Outstanding
                    %td.text-right 16.7 B
                  %tr
                    %td.font-weight-bold P/E Ration
                    %td.text-right 200
                  %tr
                    %td.font-weight-bold Beta
                    %td.text-right 200
                  %tr
                    %td.font-weight-bold EPS
                    %td.text-right 200
      .card.mt-2
        .card-header News
        .card-body
          .mb-3
            %div
              %a{href: "https://cloud.iexapis.com/v1/news/article/53b06c92-b9ec-478c-8a9e-7021e81907ae", target: "_blank"}
                How
                to pick the best keyboard case for the new 2021 iPad Pro - CNET
            %small.text-muted
              %i.fas.fa-user.text-info
              CNET |
              %i.fas.fa-clock.text-warning
              May 27, 2021
              8:00:10 AM
          .mb-3
            %div
              %a{href: "https://cloud.iexapis.com/v1/news/article/fc80595b-9f8d-4fcd-b2d9-f2fba99d9f37", target: "_blank"}
                Apple
                podría estar explorando el mundo de las criptomonedas
            %small.text-muted
              %i.fas.fa-user.text-info
              Investing.com Spain |
              %i.fas.fa-clock.text-warning
              May 27, 2021 6:07:08 AM
          .mb-3
            %div
              %a{href: "https://cloud.iexapis.com/v1/news/article/5d8503cd-f494-4be1-af09-368ddd6df0a3", target: "_blank"}
                Apple,
                l’azienda sembra interessata alle criptovalute
            %small.text-muted
              %i.fas.fa-user.text-info
              Investing.com Italy |
              %i.fas.fa-clock.text-warning
              May 27, 2021 5:35:33 AM
          %div
            %a{href: "https://cloud.iexapis.com/v1/news/article/90ed617c-178a-4b41-a739-59e0cc6a5446", target: "_blank"}
              Bezos
              is leaving Amazon (AMZN Stock) while stock price looks bullish for now
          %small.text-muted
            %i.fas.fa-user.text-info
            FXStreet |
            %i.fas.fa-clock.text-warning
            May 27,
            2021
            5:15:09 AM
    .col-md-4.col-sm-12
      .card
        .card-body
          %table.table.small.table-hover.table-sm
            %tbody
              %tr
                %td.font-weight-bold Security Name
                %td.text-right Ford Motor Co.
              %tr
                %td.font-weight-bold Issuer
                %td.text-right Common Stock - (CS)
              %tr
                %td.font-weight-bold Sector
                %td.text-right Manufacturing
              %tr
                %td.font-weight-bold Industry
                %td.text-right Automobile Manufacturing
              %tr
                %td.font-weight-bold SicCode
                %td.text-right 3711
              %tr
                %td.font-weight-bold Employees
                %td.text-right ~190,000
              %tr
                %td.font-weight-bold Phone Number
                %td.text-right 13133223000
              %tr
                %td.font-weight-bold Website
                %td.text-right
                  %a{href: "https://www.ford.com/", target: "_blank"} https://www.ford.com/
          %hr/
          %span.small Address: 1 American Rd, Dearborn, Michigan, United States of America, 48126-2701
          %hr/
          .mb-3.small.text-justify Ford Motor Company is a global company based in Dearborn, Michigan. The company designs, manufactures, markets and services a full line of Ford cars, trucks, SUVs, electrified vehicles and Lincoln luxury vehicles, provides financial services through Ford Motor Credit Company and is pursuing leadership positions in electrification; mobility solutions, including self-driving services; and connected services. Ford employs approximately 187,000 people worldwide.