.table-responsive
  %table.table.table-sm.table-bordered.table-hover.mt-3
    %thead
      %tr
        %th
        - stocks.each do |stock|
          %th.text-right{style: "width:#{85/stocks.count}%"}
    %tbody
      - stocks.table_data.each do |table_row|
        = table_row
