.card {
  background-color: #fdfdfd;
  border-radius: 2px;
  box-shadow: 0px 7px 0px -4px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;

  .breadcrumb {
    background: none;
    margin-bottom: 0px;
  }

  .card-header {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #3c3f45;
    background-color: #fdfdfd;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);

    * {
      margin-bottom: 0px;
    }
  }

  .card-body + .card-body {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    margin: -2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .card-body {
    padding: 1rem;
  }

  .card-footer {
    background-color: #fdfdfd;

    * {
      margin-bottom: 0px;
    }
  }

  .input-group-append {
    background: #fff;

    .btn-outline-secondary {
      border: 1px solid #ced4da;
    }
  }
}

@media (max-width: 992px) {
  .card .card-body {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}