table {
  font-size: 80%
}

table tr:first-child td {
  border-top: none;
}

table tr:first-child th {
  border-top: none;
}

.table > tbody > tr > td {
  vertical-align: middle;

  td {
    font-weight: bold;
  }
}
