%footer
  .container.text-white.text-center
    Copyright
    = link_to fontawesome_icon(name_icon_with_style: "fab fa-github", text: "bTspm"),
      "https://github.com/bTspm/stock-track",
      target: "_blank"
    = Time.now.year
    %div
      Built with
      = link_to("HighCharts", "https://highcharts.com", target: "_blank")
