%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .navbar-brand= link_to 'StockTrack', root_path, class: "text-uppercase font-weight-bold text-white"
  %button.navbar-toggler{"data-target" => "#navbar5", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbar5.navbar-collapse.collapse
    %ul.navbar-nav
      %li.nav-item.active
        %a.nav-link{href: "#"}
          Link
          %span.sr-only Home
      %li.nav-item
        %a.nav-link{href: "#"} Link
      %li.nav-item
        %a.nav-link{href: "#"} Link
      %li.nav-item
        %a.nav-link{href: "#"} Link
    .mx-2.my-auto.d-inline.w-50
      = render partial: "search"
